@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">☃*♡ HELLO MY FRIEND, MERRY CHRISTMAS!</h1>
    <div class="text-left">
        <p>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>></p>
        <p>thx 4 adding Me to your contact. it’s really awesome havin’ you here. gotta say, you’re not flawless, but you’re prEtty chill, warm and good enuf. i’m not socially active, so few people hit me up pRivately. every time i Receive from you, i feel so happy. feels like someone in mY contaCt cares and tHat’s uplifting. plus, you seem to remembeR others‘ lIkes. that’S pretty unforgettable and really hiT me in the feels. i get it, you’ve probably got a bunch of friends and i’M just an ordinAry one of ‘em. still, thank you again for remembering me. </p>
        <p>i’m alwayS here. CALL ME IF YOU GET LOST! 💙</p>
        <p>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>></p>
        <p>wish u happy when receiving this message :) </p>
    </div>
    <div>

    <audio id="myAudio" controls>
        <source src="/audio/坂本龍一 - Merry Christmas Mr. Lawrence.mp3" type="audio/mp3">
        您的浏览器不支持音频标签。
    </audio>
    <button onclick="playAudio()">播放</button>
    <button onclick="pauseAudio()">暂停</button>
</div>